<div id="newCourseModalStudent" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix grey-text text-darken-4">label</i>
                <input id="title" ng-model="ctrl.courseCode" type="text" class="validate">
                <label for="title">Course Code</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:" ng-click="ctrl.enrollStudent()" class="modal-action modal-close waves-effect waves-green btn-flat">Add Course</a>
        <a href="javascript:" class="red-text modal-close modal-action waves-effect waves-red btn-flat">Dismiss</a>
    </div>
</div>