<div class="container">

    <div class="row">

        <h1>Submissions</h1>

        <table class="striped table-responsive centered top20">
            <thead>
            <tr class="grey-text text-darken-4">
                <th>Question</th>
                <th>Class</th>
                <th>Date Submitted</th>
                <th>Awarded Grade</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="submission in ctrl.submissions | orderBy: '-updatedAt'">
                <td> {{ submission.question.title }}</td>
                <td> {{submission.question.className }}</td>
                <td> {{ submission.question.updatedAt }}</td>
                <td> {{ submission.score }}</td>
                <td>
                    <a href  data-target="submissionModal" modal ng-click="ctrl.viewSubmission(submission)" class="modal-action modal-close orange-text text-darken-3">
                        <i class="material-icons">open_in_new</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


